@charset "UTF-8";
/* abstracts */
/* Fonts */
/* Font Size */
/* day colorset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
:root {
  --main-color: #000;
  --base-color: #fff;
  --middle-color: #eee;
  --hover-color: #ddd;
  --white: #fff;
  --black: #000;
  --variable-color: #000;
  --ball-color-1: #bdd9a9;
  --ball-color-2: #d5eabb;
  --ball-color-3: #e8f2d8;
  --ball-color-4: #e7f2bd;
  --ball-color-5: #aed8c2;
  --main-img: url("../images/day-main-visual.png");
  --menu-profile-pic: url("../images/day-menu-profile.png");
  --epilogue-img: url("../images/day-epilogue-background.png");
}

/* monet colorset */
[data-theme=monet] {
  --main-color: #ff0051;
  --base-color: #fff;
  --middle-color: #eee;
  --hover-color: #ddd;
  --white: #fff;
  --black: #000;
  --variable-color: transparent;
  --ball-color-1: #e5dff2;
  --ball-color-2: #e2c8e2;
  --ball-color-3: #e0e9e8;
  --ball-color-4: #f1f0f2;
  --ball-color-5: #c6c4f2;
  --main-img: url("../images/monet-main-visual.png");
  --menu-profile-pic: url("../images/monet-menu-profile.png");
  --epilogue-img: url("../images/monet-epilogue-background.png");
}

/* night colorset */
[data-theme=night] {
  --main-color: #fafafa;
  --base-color: #171b1f;
  --middle-color: #262c33;
  --hover-color: #384959;
  --white: #000;
  --black: #fff;
  --variable-color: transparent;
  --ball-color-1: #2f6c73;
  --ball-color-2: #1e541c;
  --ball-color-3: #84524c;
  --ball-color-4: #5a7302;
  --ball-color-5: #4b8a91;
  --main-img: url("../images/night-main-visual.png");
  --menu-profile-pic: url("../images/night-menu-profile.png");
  --epilogue-img: url("../images/night-epilogue-background.png");
}

/* headerheights */
/* base */
/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

html {
  font-size: 14px;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
html::-moz-selection {
  color: var(--white);
  background-color: var(--hover-color);
}
html::selection {
  color: var(--white);
  background-color: var(--hover-color);
}

body {
  color: var(--main-color);
  background-color: var(--base-color);
}

ol,
ul,
li {
  list-style: none;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 버튼 커서 포인터 */
button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* input 기본 테두리 제거 */
input {
  border: none;
  outline: none;
}

/* Fontawesome */
/* Poppins: primary_en */
/* SUIT: primary_kr */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Noto Serif: secondary_en */
/* 조선굴림: secondary_kr */
@font-face {
  font-family: "ChosunGu";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 갈무리11: point_kr */
h4 {
  font-size: 1.286rem;
}

h6 {
  font-size: 1rem;
}

/* layout */
.main-wrap {
  margin-top: 50px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: auto 400px 0;
  transition: 0.5s;
  transition-timing-function: ease-in;
}
.main-wrap.menuActive {
  grid-template-columns: auto 400px 0;
}
.main-wrap .menuToggleInner {
  overflow: hidden;
}
.main-wrap .menuToggleInner > * {
  width: calc(100vw - 400px);
}
.main-wrap .main-section-wrap section {
  height: calc(100vh - 50px);
}
.main-wrap .project-menu {
  display: none;
}
.main-wrap .main-hiddencontent {
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: var(--main-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main-wrap .main-hiddencontent > * {
  padding: 10px 0;
}
.main-wrap .main-hiddencontent > * i {
  font-size: 1.429rem;
  color: var(--base-color);
}
.main-wrap .main-hiddencontent .playlist {
  margin-top: auto;
}

.project-wrap {
  display: grid;
  grid-template-columns: 0 300px auto;
  transition: 0.5s;
  transition-timing-function: ease-in;
}
.project-wrap.menuActive {
  grid-template-columns: 400px 300px auto;
}
.project-wrap .menuToggleInner {
  overflow: hidden;
}
.project-wrap .menuToggleInner > * {
  width: calc(100vw - 300px);
}
.project-wrap > * {
  background-color: var(--base-color);
}
.project-wrap .project-section-wrap {
  z-index: 1;
  position: relative;
}
.project-wrap .project-section-wrap .project-slide {
  border: 1px solid var(--main-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 80px;
  gap: 10px;
  overflow: hidden;
  position: relative;
}
.project-wrap .project-section-wrap .project-slide .slider-track {
  display: flex;
  gap: 40px;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}
.project-wrap .project-section-wrap .project-slide .slider-track span {
  font-family: "Poppins", sans-serif;
  font-size: 2.714rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.project-wrap .project-section-wrap .project-section-inner {
  display: flex;
  flex-wrap: wrap;
}
.project-wrap .project-section-wrap .project-section-inner > article {
  min-height: calc(100vh - 50px);
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.site-info {
  width: 0;
  height: 0;
  opacity: 0;
  transition: 1s;
  transition-property: width, height;
  position: fixed;
  overflow: hidden;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  z-index: 99;
  border: 1px solid var(--main-color);
  background-color: var(--base-color);
  box-shadow: -2px 2px 0 var(--main-color);
}
.site-info .modal-header {
  border-bottom: 1px solid var(--main-color);
  font-family: "Galmuri11", sans-serif;
  display: grid;
  width: 100%;
  height: 20px;
  grid-template-columns: auto 20px;
  font-size: 0.857rem;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.site-info .modal-header button {
  border-left: 1px solid var(--main-color);
  background-color: var(--middle-color);
  transition: 0.15s;
}
.site-info .modal-header button:hover {
  background-color: var(--ball-color-5);
}
.site-info .modal-inner {
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}
.site-info .modal-inner h5 {
  font-size: 1.429rem;
  border-bottom: 1px solid var(--main-color);
}
.site-info .modal-inner p {
  font-family: "ChosunGu", sans-serif;
  line-height: 150%;
}

/**** sections *****/
/* intro/about */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--base-color);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid var(--main-color);
}
.header .header-inner {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  height: 50px;
  gap: 40px;
}
.header .header-inner .header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dots {
  font-size: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .header-inner .header-logo a {
  display: flex;
  align-items: baseline;
  font-family: "ChosunGu", sans-serif;
  font-size: 1.286rem;
  gap: 0.5rem;
}
.header .header-inner .header-logo a em {
  padding-top: 5px;
}
.header .header-inner .header-logo a span {
  font-family: "Noto Serif", serif;
  font-size: 1.429rem;
}
.header .header-inner .header-slide {
  background-color: transparent;
  background-image: repeating-linear-gradient(45deg, var(--middle-color) 25%, transparent 25%, transparent 75%, var(--middle-color) 75%, var(--middle-color)), repeating-linear-gradient(45deg, var(--middle-color) 25%, transparent 25%, transparent 75%, var(--middle-color) 75%, var(--middle-color));
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  width: 65%;
  height: 100%;
  border-radius: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  position: relative;
}
.header .header-inner .header-slide p {
  font-family: "Galmuri11", sans-serif;
  position: absolute;
  white-space: nowrap;
  left: 100%;
}
.header .header-inner .header-slide p span {
  margin-right: 500px;
}
.header .header-inner .header-button-wrap {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.header .header-inner .header-button-wrap button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: var(--ball-color-1);
  transition: 0.15s;
}
.header .header-inner .header-button-wrap button:hover {
  background-color: var(--ball-color-5);
}
.header .header-inner .header-button-wrap button:nth-child(2) {
  color: var(--next-color);
}

.main-menu-wrap .main-menu {
  width: 400px;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
}
.main-menu-wrap .main-menu .menu-profile {
  border: 1px solid var(--main-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  max-height: 60%;
  min-height: 540px;
}
.main-menu-wrap .main-menu .menu-profile .menu-today {
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
}
.main-menu-wrap .main-menu .menu-profile .menu-today .month {
  font-size: 3.143rem;
  line-height: 100%;
}
.main-menu-wrap .main-menu .menu-profile .menu-today p {
  font-size: 1.429rem;
  font-family: "SUIT Variable", sans-serif;
}
.main-menu-wrap .main-menu .menu-profile .menu-today .date {
  position: absolute;
  font-size: 150px;
  bottom: 0;
  right: 0;
  text-align: right;
  line-height: 100px;
  letter-spacing: -5px;
}
.main-menu-wrap .main-menu .menu-profile .menu-profile-pic {
  border: 1px solid var(--main-color);
  width: 100%;
  width: 360px;
  height: 360px;
  background-image: var(--menu-profile-pic);
  background-size: cover;
}
.main-menu-wrap .main-menu .menu-list {
  border: 1px solid var(--main-color);
  padding: 20px;
  text-transform: uppercase;
  min-height: 40%;
  height: calc(100vh - 50px - 540px);
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
}
.main-menu-wrap .main-menu .menu-list h6 {
  font-weight: 400;
}
.chapters {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.chapters li {
  border-top: 1px solid var(--main-color);
  font-size: 3.143rem;
  letter-spacing: -1px;
  position: relative;
}
.chapters li span {
  font-size: 1.286rem;
  position: absolute;
  padding: 10px;
}

.main-section-wrap .intro {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-rows: 50px auto;
}
.main-section-wrap .intro .intro-header {
  border: 1px solid var(--main-color);
  background-color: var(--base-color);
  display: flex;
  justify-content: start;
  font-family: "Poppins", sans-serif;
}
.main-section-wrap .intro .intro-header div {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section-wrap .intro .intro-header div:not(.update-link) {
  border-right: 1px solid var(--main-color);
}
.sub-logo {
  font-weight: 600;
  text-transform: lowercase;
  font-size: 0.857rem;
}
.sub-logo i {
  font-size: 1.286rem;
}

.main-section-wrap .intro .intro-header .update {
  font-size: 1.286rem;
  text-transform: uppercase;
}
.main-section-wrap .intro .intro-header .update-link span {
  font-size: 1.286rem;
  margin-right: 20px;
}
.main-section-wrap .intro .intro-header .update-link a {
  font-family: "ChosunGu", sans-serif;
  font-size: 1.143rem;
}
.main-section-wrap .intro .intro-visual {
  border: 1px solid var(--main-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  background-image: var(--main-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 75px;
  text-align: right;
}
.main-section-wrap .intro .intro-visual span.br {
  display: inline;
}
.main-section-wrap .intro .intro-visual .catchphrase {
  align-self: start;
  font-size: 7.143rem;
  font-family: "Noto Serif", serif;
  font-weight: 100;
  line-height: 100%;
  text-align: left;
}
.main-section-wrap .intro .intro-visual .catchphrase-sub {
  font-family: "ChosunGu", sans-serif;
  font-size: 1.857rem;
  line-height: 150%;
}
.main-section-wrap .intro .intro-visual .catchphrase-name {
  font-size: 2.714rem;
  line-height: 150%;
  font-weight: 700;
}
.main-section-wrap .intro .intro-visual .catchphrase-name span {
  font-weight: 300;
  text-transform: uppercase;
}

.main-section-wrap .about {
  display: grid;
  grid-template-areas: "profile greeting greeting" "profile skills educationcareer";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 2fr 3fr;
}
.main-section-wrap .about > article {
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.main-section-wrap .about > article:not(.profile) {
  padding: 20px 40px;
}
.main-section-wrap .about .article-title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}
.main-section-wrap .about .article-title h4 {
  font-size: 1.857rem;
  font-weight: 400;
  border-bottom: 1px solid var(--main-color);
}
.main-section-wrap .about .article-title .article-number {
  font-size: 1.857rem;
  line-height: 0;
}
.main-section-wrap .about .profile {
  padding: 40px;
  padding-bottom: 20px;
  grid-area: profile;
  width: 550px;
  gap: 20px;
}
.main-section-wrap .about .profile img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 1px solid var(--main-color);
}
.main-section-wrap .about .profile p {
  font-size: 3.143rem;
}
.main-section-wrap .about .profile p span {
  font-size: 1.429rem;
}
.main-section-wrap .about .profile .profile-list {
  font-size: 1.429rem;
  line-height: 180%;
}
.main-section-wrap .about .profile .profile-list li a {
  border-bottom: 1px solid var(--main-color);
}
.main-section-wrap .about .greeting {
  grid-area: greeting;
}
.main-section-wrap .about .greeting p {
  padding: 10px;
  font-size: 1.286rem;
  line-height: 180%;
}
.main-section-wrap .about .greeting p em {
  font-weight: inherit;
  position: relative;
}
.main-section-wrap .about .greeting p em::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.1;
  background-color: var(--main-color);
}
.main-section-wrap .about .greeting p strong {
  font-weight: 700;
}
.main-section-wrap .about .skills {
  grid-area: skills;
}
.main-section-wrap .about .skills > div:not(.article-title) {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-section-wrap .about .skills > div:not(.article-title):not(.certificate) {
  border-bottom: 1px solid var(--main-color);
}
.main-section-wrap .about .skills > div:not(.article-title) h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.main-section-wrap .about .skills > div:not(.article-title) ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.main-section-wrap .about .skills > div:not(.article-title) ul li img {
  height: 40px;
}
.main-section-wrap .about .skills > div:not(.article-title) ol {
  text-align: right;
  line-height: 200%;
}
.main-section-wrap .about .education-career {
  grid-area: educationcareer;
}
.main-section-wrap .about .education-career .education-list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.main-section-wrap .about .education-career .education-list li {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-section-wrap .about .education-career .education-list li span {
  font-size: 0.857rem;
}
.main-section-wrap .about .education-career .education-list li strong {
  font-size: 1.429rem;
  font-weight: 700;
}
.main-section-wrap .about .education-career .education-list li i {
  line-height: 120%;
  font-size: 1.143rem;
}
.main-section-wrap .about .education-career .article-title {
  margin-top: unset;
  margin-bottom: auto;
}

/* projects */
.project-menu {
  border: 1px solid var(--main-color);
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
}
.project-menu h5 {
  font-size: 1.429rem;
  text-transform: uppercase;
}
.project-menu .project-list li {
  border-bottom: 1px solid var(--main-color);
}
.project-menu .project-list li:first-child {
  border-top: 1px solid var(--main-color);
}
.project-menu .project-list li a {
  display: grid;
  grid-template-columns: auto 1fr 60px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: 3fr 2fr;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 0;
  position: relative;
  transition: 0.15s;
}
.project-menu .project-list li a:hover {
  background-color: var(--ball-color-5);
}
.project-menu .project-list li a .icon {
  grid-row: 1/3;
  font-size: 25px;
  width: 25px;
  height: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.project-menu .project-list li a i {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "ChosunGu", sans-serif;
  line-height: 120%;
  text-transform: uppercase;
}
.project-menu .project-list li a em {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.286rem;
  font-weight: 700;
  border-bottom: 1px solid var(--main-color);
}
.project-menu .project-list li a .thumb {
  align-self: end;
  grid-column: 3/4;
  grid-row: 1/3;
  border: 1px solid var(--main-color);
  width: 60px;
  height: 60px;
}

#project-list li a.active {
  position: relative;
}
#project-list li a.active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.1;
  background-color: var(--main-color);
}

.project-basic {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.project-basic > div {
  border: 1px solid var(--main-color);
  padding: 50px;
}
.project-index {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.project-index h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.857rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-color);
}
.project-index h3.number {
  border-bottom: none;
}

.project-basic .project-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  align-items: start;
}
.project-basic .project-info .project-index {
  margin-bottom: 40px;
}
.project-basic .project-info .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-basic .project-info .title h2 {
  font-size: 4.286rem;
  font-weight: 700;
  line-height: 100%;
  border: 1px solid var(--main-color);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 5px;
}
.project-basic .project-info .info-wrap {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 40px;
  font-size: 1.286rem;
}
.project-basic .project-info .info-wrap h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.project-basic .project-info .info-wrap p,
.project-basic .project-info .info-wrap ul {
  line-height: 150%;
  font-family: "ChosunGu", sans-serif;
}
.project-basic .project-info .info-wrap .project-links .links {
  display: flex;
  gap: 20px;
}
.project-basic .project-info .info-wrap .project-links .links a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--middle-color);
  transition: 0.15s;
  border: 1px solid var(--main-color);
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
}
.project-basic .project-info .info-wrap .project-links .links a:hover {
  background-color: var(--ball-color-5);
}
.project-basic .project-info .info-wrap .project-links .links a i {
  margin-right: 5px;
}
.project-basic .project-info .info-wrap .in-charge {
  width: 100%;
}
.project-basic .project-info .info-wrap .in-charge ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.143rem;
}
.project-basic .project-info .info-wrap .in-charge ul li {
  border-left: 4px solid var(--ball-color-5);
  padding-left: 5px;
}
.project-basic .project-info .desc {
  font-size: 1.143rem;
  line-height: 150%;
}
.swiper-wrap {
  border: 1px solid var(--main-color);
  aspect-ratio: 16/9;
  margin-top: auto;
  max-width: 1000px;
  overflow: hidden;
}
.swiper-wrap .swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrap .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.project-basic .project-side {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}
.project-basic .project-side .project-index h3 {
  font-size: 1.429rem;
  text-transform: uppercase;
}
.project-basic .project-side span {
  font-size: 1.143rem;
}
.project-basic .project-side .swiper-wrap {
  aspect-ratio: 9/16;
  max-width: 400px;
  margin-top: 40px;
}

.swiper {
  cursor: grab;
}

.swiper-pagination-bullet {
  transition: 0.3s;
  opacity: 0.8;
  background: var(--hover-color);
}

.swiper-pagination-bullet-active {
  opacity: 0.8;
  background: var(--main-color);
  width: 20px;
  border-radius: 10px;
}

.fortune-ball {
  border: 1px solid var(--main-color);
  padding: 20px;
  height: 300px;
}
.fortune-ball .fortune-ball-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--middle-color);
  border: 1px solid var(--main-color);
}
.fortune-ball .fortune-ball-inner .inner-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.fortune-ball .fortune-ball-inner .inner-text strong {
  font-weight: 700;
  font-size: 3.143rem;
}
.fortune-ball .fortune-ball-inner .inner-text i {
  font-weight: 700;
  text-transform: uppercase;
}
.fortune-ball .fortune-ball-inner #container {
  width: 100%;
  height: 100%;
  position: relative;
}
.fortune-ball .fortune-ball-inner .popup {
  position: absolute;
  pointer-events: none;
  animation: fadeOut 2s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fortune-ball .fortune-ball-inner .popup .fortuneball-quote {
  margin: 0;
  font-size: 1.857rem;
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  background-color: var(--base-color);
  border: 1px solid var(--main-color);
  padding: 0 10px;
}
.fortune-ball .fortune-ball-inner .popup .fortuneball-quote:last-child {
  font-family: "ChosunGu", sans-serif;
  font-size: 1rem;
  padding: 5px;
}

/* epilogue */
.epilogue {
  border: 1px solid var(--main-color);
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 50px);
  background-image: var(--epilogue-img);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.epilogue::before, .epilogue::after {
  content: "Abril Bom Lee";
  text-transform: lowercase;
  position: absolute;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  font-size: 250px;
  bottom: -80px;
  mix-blend-mode: overlay;
  white-space: nowrap;
}
.epilogue::before {
  color: var(--variable-color);
}
.epilogue::after {
  color: var(--black);
}
.epilogue .epilogue-inner {
  display: grid;
  height: 70%;
  padding: 20px;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr 40px;
}
.epilogue .epilogue-inner .banner {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 10px;
}
.epilogue .epilogue-inner .banner .sub-logo {
  writing-mode: vertical-rl;
  font-size: 1rem;
}
.epilogue .epilogue-inner .banner .sub-logo i {
  font-size: 1.2em;
  padding: 5px 0;
}
.epilogue .epilogue-inner .banner .quote .dots {
  margin-bottom: 20px;
}
.epilogue .epilogue-inner .banner .quote p {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  font-size: 2.286rem;
  line-height: 100%;
}
.epilogue .epilogue-inner .closing-ment {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.epilogue .epilogue-inner .closing-ment p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "ChosunGu", sans-serif;
  font-size: 1.857rem;
  line-height: 150%;
}
.epilogue .epilogue-inner .closing-ment > div, .epilogue .epilogue-inner .closing-ment > button {
  display: flex;
  align-items: center;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.714rem;
  font-weight: 500;
}
.epilogue .epilogue-inner .closing-ment > div i, .epilogue .epilogue-inner .closing-ment > button i {
  font-size: 4.286rem;
}
.epilogue .epilogue-inner .links .chapters {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 40px;
}
.epilogue .epilogue-inner .links .chapters li:first-child {
  border-top: none;
}
.epilogue .epilogue-inner .links .chapters li:last-child {
  border-bottom: 1px solid var(--main-color);
}
.epilogue .epilogue-inner .links .quick-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.epilogue .epilogue-inner .links .quick-link div > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.epilogue .epilogue-inner .links .quick-link div strong {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 1.429rem;
  line-height: 100%;
  margin-bottom: 20px;
}
.epilogue .epilogue-inner .links .quick-link div strong i {
  font-size: 3.143rem;
}
.epilogue .epilogue-inner .links .quick-link div span {
  font-size: 1.143rem;
  position: relative;
}
.epilogue .epilogue-inner .links .quick-link div span i {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  padding-left: 5px;
}
.epilogue .epilogue-inner .go-to-top {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
  font-size: 1.429rem;
}

/**** responsive ****/
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  /* 랩탑 */
  /* header */
  .header .header-logo {
    gap: 10px;
  }
  .dots {
    font-size: 6px;
  }
  .header .header-logo a {
    font-size: 1.286rem;
  }
  .header .header-logo a em {
    padding-top: 0px;
  }
  .header .header-logo a span {
    font-size: 1.429rem;
  }
  .header .header-slide {
    width: 70%;
  }
  /* main */
  .main-wrap {
    display: grid;
    grid-template-columns: auto 0 0;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  .main-wrap.menuActive {
    grid-template-columns: auto 400px 0;
  }
  .main-wrap .menuToggleInner {
    overflow: hidden;
  }
  .main-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .main-wrap .main-section-wrap section {
    max-height: calc(100vh - 50px);
    height: 900px;
    min-height: 900px;
  }
  .main-menu-wrap .main-menu {
    width: 100%;
    overflow: scroll;
  }
  .main-menu-wrap .main-menu .menu-profile {
    min-height: 520px;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today .date {
    font-size: 120px;
  }
  .main-menu-wrap .main-menu .menu-list {
    padding: 10px 20px;
    height: -moz-max-content;
    height: max-content;
  }
  .chapters li {
    font-size: 3.143rem;
  }
  .chapters li span {
    font-size: 1.286rem;
  }
  /* project */
  .project-wrap {
    display: grid;
    grid-template-columns: 0 0 auto;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  .project-wrap.menuActive {
    grid-template-columns: 0 300px auto;
  }
  .project-wrap .menuToggleInner {
    overflow: hidden;
  }
  .project-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .project-wrap .project-section-wrap .project-section-inner > article {
    max-height: calc(100vh - 50px);
    height: 900px;
    min-height: 900px;
  }
  /* project-basic */
  .project-basic > div {
    padding: 30px;
  }
  .project-basic .project-info {
    gap: 20px;
  }
  .project-basic .project-info .info-wrap .info {
    font-size: 1.143rem;
  }
  .project-links {
    font-size: 1rem;
  }
  .project-basic .project-info .desc {
    font-size: 1rem;
  }
  .project-basic .project-info .swiper-wrap {
    max-width: 900px;
  }
  .project-basic .project-side .swiper-wrap {
    max-width: 350px;
  }
  /* project-sub */
  .project-sub {
    width: 50vw !important;
    padding: 30px;
  }
  .project-sub .swiper {
    height: 450px;
  }
  .project-sub .title {
    grid-column: 1/3;
  }
  .project-sub .desc {
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  /** 태블릿 가로 */
  html {
    font-size: 12px;
  }
  /* mixin */
  /* header */
  .header .header-inner {
    height: 30px;
    padding: 5px;
  }
  .header .header-inner .header-logo {
    gap: 10px;
  }
  .header .header-inner .header-slide {
    font-size: 0.857rem;
    width: 50%;
  }
  .header .header-inner .header-button-wrap {
    gap: 10px;
  }
  .header .header-inner .header-button-wrap button {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  /* main */
  .main-wrap {
    display: grid;
    grid-template-columns: auto 0 0;
    transition: 0.5s;
    transition-timing-function: ease-in;
    margin-top: 30px;
  }
  .main-wrap.menuActive {
    grid-template-columns: auto 300px 0;
  }
  .main-wrap .menuToggleInner {
    overflow: hidden;
  }
  .main-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .main-wrap .main-section-wrap section:first-child {
    height: calc(100vh - 30px);
    max-height: 720px;
  }
  .main-wrap .main-section-wrap section:last-child {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu-wrap .main-menu {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 30px);
    top: 30px;
  }
  .main-menu-wrap .main-menu .menu-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    height: 55%;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today .date {
    font-size: 100px;
    line-height: 80px;
  }
  .main-menu-wrap .main-menu .menu-list {
    padding: 10px;
    height: calc(100vh - 30px - 400px);
    min-height: unset;
    max-height: unset;
    overflow-y: scroll;
  }
  .main-menu-wrap .main-menu .menu-list h6 {
    font-weight: 400;
  }
  .chapters {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  .chapters li {
    border-top: 1px solid var(--main-color);
    font-size: 2.714rem;
    letter-spacing: -1px;
  }
  .chapters li span {
    font-size: 1.286rem;
    position: absolute;
    padding: 10px;
  }
  /* intro */
  .main-section-wrap .intro {
    grid-template-rows: 30px auto;
  }
  .main-section-wrap .intro .intro-header {
    height: 30px;
  }
  .main-section-wrap .intro .intro-visual {
    padding: 30px;
    background-attachment: scroll;
  }
  .main-section-wrap .intro .intro-visual .catchphrase {
    font-size: 4.286rem;
  }
  /* about */
  .main-section-wrap .about {
    grid-template-areas: "profile greeting" "skills educationcareer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
  }
  .main-section-wrap .about > article:not(.profile) {
    padding: 30px;
  }
  .main-section-wrap .about .profile {
    padding: 40px;
    padding-bottom: 20px;
    grid-area: profile;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto;
    gap: 10px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .main-section-wrap .about .profile img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: unset;
    aspect-ratio: 1/1;
  }
  .main-section-wrap .about .profile p {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }
  .main-section-wrap .about .profile .profile-list {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
  .main-section-wrap .about .profile .article-title {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .main-section-wrap .about .greeting {
    grid-area: greeting;
  }
  .main-section-wrap .about .skills {
    grid-area: skills;
  }
  .main-section-wrap .about .education-career {
    grid-area: educationcareer;
  }
  /* project */
  .project-wrap {
    display: grid;
    grid-template-columns: 0 0 auto;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  .project-wrap.menuActive {
    grid-template-columns: 0 300px auto;
  }
  .project-wrap .menuToggleInner {
    overflow: hidden;
  }
  .project-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .project-wrap .project-section-wrap .project-slide {
    height: 60px;
  }
  .project-wrap .project-section-wrap .project-slide .slider-track span {
    font-size: 1.857rem;
  }
  .project-wrap .project-section-wrap .project-section-inner > article {
    height: -moz-fit-content;
    height: fit-content;
  }
  /* project-basic */
  .project-basic {
    display: block;
  }
  .project-basic > div {
    padding: 30px;
  }
  .project-index {
    font-size: 2.286rem;
  }
  .project-basic .project-info {
    gap: 20px;
  }
  .project-basic .project-info .title h2 {
    font-size: 4.286rem;
    letter-spacing: -1px;
  }
  .project-basic .project-info .info {
    font-size: 1.286rem;
  }
  .project-links {
    font-size: 1.143rem;
    margin-bottom: 10px;
  }
  .project-basic .project-info .swiper-wrap {
    width: calc(100vw - 60px);
  }
  .project-basic .project-info .desc {
    font-size: 1.286rem;
    line-height: 180%;
  }
  .project-basic .project-side {
    display: none;
  }
  /* epilogue */
  .epilogue {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 200px;
    background-attachment: scroll;
  }
  .epilogue::before, .epilogue::after {
    font-size: 150px;
    bottom: -50px;
  }
  .epilogue .epilogue-inner {
    display: grid;
    height: -moz-max-content;
    height: max-content;
    padding: 20px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .epilogue .epilogue-inner .banner {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .epilogue .epilogue-inner .banner .quote p {
    font-size: 1.857rem;
  }
  .epilogue .epilogue-inner .closing-ment {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    gap: 20px;
  }
  .epilogue .epilogue-inner .closing-ment p {
    font-size: 1.429rem;
  }
  .epilogue .epilogue-inner .closing-ment > div,
  .epilogue .epilogue-inner .closing-ment > button {
    font-size: 2.286rem;
  }
  .epilogue .epilogue-inner .closing-ment > div i,
  .epilogue .epilogue-inner .closing-ment > button i {
    font-size: 3.143rem;
  }
  .epilogue .epilogue-inner .links {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 80%;
    justify-self: center;
  }
  .epilogue .epilogue-inner .go-to-top {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: start;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /** 태블릿 세로 */
  html {
    font-size: 12px;
  }
  /* header */
  .header .header-inner {
    height: 30px;
  }
  .header .header-inner .header-logo {
    gap: 10px;
  }
  .dots {
    font-size: 6px;
  }
  .header .header-inner .header-logo a {
    font-size: 1.286rem;
  }
  .header .header-inner .header-logo a em {
    padding-top: 0px;
  }
  .header .header-inner .header-logo a span {
    font-size: 1.429rem;
  }
  .header .header-inner .header-slide {
    display: none;
  }
  .header .header-inner .header-button-wrap {
    gap: 10px;
  }
  .header .header-inner .header-button-wrap button {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  /* main */
  .main-wrap {
    display: grid;
    grid-template-columns: auto 0 0;
    transition: 0.5s;
    transition-timing-function: ease-in;
    margin-top: 30px;
  }
  .main-wrap.menuActive {
    grid-template-columns: auto 300px 0;
  }
  .main-wrap .menuToggleInner {
    overflow: hidden;
  }
  .main-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .main-wrap .main-section-wrap section:first-child {
    height: calc(100vh - 30px);
    max-height: 500px;
  }
  .main-wrap .main-section-wrap section:last-child {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu-wrap .main-menu {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 30px);
    top: 30px;
  }
  .main-menu-wrap .main-menu .menu-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    height: 55%;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today .date {
    font-size: 80px;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-profile-pic {
    width: 250px;
    height: 250px;
  }
  .main-menu-wrap .main-menu .menu-list {
    padding: 10px;
    height: calc(100vh - 30px - 400px);
    min-height: unset;
    max-height: unset;
    overflow-y: scroll;
  }
  .main-menu-wrap .main-menu .menu-list h6 {
    font-weight: 400;
  }
  .chapters {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  .chapters li {
    border-top: 1px solid var(--main-color);
    font-size: 2.714rem;
    letter-spacing: -1px;
  }
  .chapters li span {
    font-size: 1.286rem;
    position: absolute;
    padding: 10px;
  }
  /* intro */
  .main-section-wrap .intro {
    grid-template-rows: 30px auto;
  }
  .main-section-wrap .intro .intro-header {
    width: 100%;
  }
  .main-section-wrap .intro .intro-header div {
    padding: 0 10px;
    white-space: nowrap;
  }
  .sub-logo {
    font-size: 0.714rem;
  }
  .sub-logo i {
    font-size: 1rem;
  }
  .main-section-wrap .intro .intro-header .update {
    font-size: 1.143rem;
  }
  .main-section-wrap .intro .intro-header .update-link span {
    font-size: 1.143rem;
    margin-right: 10px;
  }
  .main-section-wrap .intro .intro-header .update-link a {
    width: 100px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-section-wrap .intro .intro-visual {
    padding: 30px;
    background-attachment: scroll;
  }
  .main-section-wrap .intro .intro-visual .catchphrase {
    font-size: 3.143rem;
  }
  .main-section-wrap .intro .intro-visual .catchphrase-sub {
    font-size: 1.429rem;
  }
  .main-section-wrap .intro .intro-visual .catchphrase-name {
    font-size: 1.857rem;
  }
  /* about */
  .main-section-wrap .about {
    display: flex;
    flex-direction: column;
  }
  .main-section-wrap .about > article:not(.profile) {
    height: -moz-max-content;
    height: max-content;
    padding: 30px;
  }
  .main-section-wrap .about .profile {
    padding: 30px;
    padding-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 50px 100px 50px;
    gap: 20px;
  }
  .main-section-wrap .about .profile img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 300px;
  }
  .main-section-wrap .about .profile p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
  }
  .main-section-wrap .about .profile .profile-list {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
  }
  .main-section-wrap .about .profile .article-title {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .main-section-wrap .about .greeting p {
    line-height: 200%;
  }
  .main-section-wrap .about .skills > div:not(.article-title) {
    gap: 15px;
  }
  .main-section-wrap .about .skills > div:not(.article-title) ul {
    justify-content: start;
  }
  .main-section-wrap .about .skills > div:not(.article-title) ol {
    text-align: left;
  }
  .main-section-wrap .about .education-career .article-title {
    margin-bottom: 20px;
  }
  /* project */
  .project-wrap {
    display: grid;
    grid-template-columns: 0 0 auto;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  .project-wrap.menuActive {
    grid-template-columns: 0 250px auto;
  }
  .project-wrap .menuToggleInner {
    overflow: hidden;
  }
  .project-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .project-wrap .project-section-wrap .project-slide {
    height: 60px;
  }
  .project-wrap .project-section-wrap .project-slide .slider-track span {
    font-size: 1.857rem;
  }
  .project-wrap .project-section-wrap .project-section-inner > article {
    min-height: unset;
  }
  /* project-menu */
  .project-menu {
    height: calc(100vh - 30px);
    top: 30px;
    width: 250px;
    padding: 10px;
  }
  .project-menu h5 {
    font-size: 1.429rem;
    text-transform: uppercase;
  }
  .project-menu .project-list {
    overflow-y: scroll;
  }
  .project-menu .project-list li a {
    grid-template-columns: auto 1fr 50px;
    padding: 10px 0;
  }
  .project-menu .project-list li a .thumb {
    width: 50px;
    height: 50px;
  }
  /* project-basic */
  .project-basic {
    display: block;
  }
  .project-basic > div {
    padding: 20px;
  }
  .project-index {
    font-size: 2.286rem;
  }
  .project-basic .project-info {
    gap: 20px;
  }
  .project-basic .project-info .title h2 {
    font-size: 3.143rem;
    letter-spacing: -1px;
  }
  .project-basic .project-info .info-wrap {
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.286rem;
  }
  .project-links {
    font-size: 1.143rem;
  }
  .project-basic .project-info .swiper-wrap {
    width: calc(100vw - 40px);
  }
  .project-basic .project-info .desc {
    font-size: 1.286rem;
  }
  .project-basic .project-side {
    display: none;
  }
  /* fortune-ball */
  .fortune-ball {
    padding: 10px;
    height: 200px;
  }
  .fortune-ball .fortune-ball-inner .inner-text strong {
    font-weight: 700;
    font-size: 2.714rem;
  }
  .fortune-ball .fortune-ball-inner .popup .fortuneball-quote {
    font-size: 1.286rem;
    padding: 0 5px;
  }
  .fortune-ball .fortune-ball-inner .popup .fortuneball-quote:last-child {
    font-size: 0.857rem;
  }
  /* epilogue */
  .epilogue {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 200px;
    background-attachment: scroll;
  }
  .epilogue::before, .epilogue::after {
    font-size: 150px;
    bottom: 0;
    white-space: wrap;
    line-height: 80%;
  }
  .epilogue .epilogue-inner {
    display: grid;
    height: -moz-max-content;
    height: max-content;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 20px;
  }
  .epilogue .epilogue-inner .banner {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .epilogue .epilogue-inner .banner .quote p {
    font-size: 1.857rem;
  }
  .epilogue .epilogue-inner .closing-ment {
    padding: 0 20%;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    gap: 20px;
  }
  .epilogue .epilogue-inner .closing-ment p {
    font-size: 1.429rem;
  }
  .epilogue .epilogue-inner .closing-ment > div,
  .epilogue .epilogue-inner .closing-ment > button {
    font-size: 2.286rem;
  }
  .epilogue .epilogue-inner .closing-ment > div i,
  .epilogue .epilogue-inner .closing-ment > button i {
    font-size: 3.143rem;
  }
  .epilogue .epilogue-inner .links {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 60%;
    min-width: 280px;
    justify-self: center;
  }
  .epilogue .epilogue-inner .go-to-top {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
  }
}
@media screen and (max-width: 480px) {
  /* 모바일 세로 */
  html {
    font-size: 12px;
  }
  /* header */
  .header .header-inner {
    height: 30px;
    padding: 5px;
  }
  .header .header-inner .header-logo {
    gap: 10px;
  }
  .dots {
    font-size: 4px;
  }
  .header .header-inner .header-logo a {
    font-size: 1.286rem;
  }
  .header .header-inner .header-logo a em {
    padding-top: 0px;
  }
  .header .header-inner .header-logo a span {
    font-size: 1.429rem;
  }
  .header .header-inner .header-slide {
    display: none;
  }
  .header .header-inner .header-button-wrap {
    gap: 10px;
  }
  .header .header-inner .header-button-wrap button {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  /* main */
  .main-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .main-wrap .main-section-wrap section {
    width: 100vw;
  }
  .main-wrap .main-section-wrap section:first-child {
    height: 80vh;
  }
  .main-wrap .main-section-wrap section:last-child {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-wrap .project-menu {
    display: block;
  }
  .main-menu-wrap {
    width: 100%;
    display: flex;
  }
  .main-menu-wrap .main-menu {
    flex: 1;
    position: static;
    min-height: 550px;
    height: unset;
    width: 100%;
    overflow: hidden;
    top: 30px;
  }
  .main-menu-wrap .main-menu .menu-profile {
    height: 60%;
    min-height: unset;
    max-height: unset;
    padding: 10px;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-today .date {
    font-size: 80px;
  }
  .main-menu-wrap .main-menu .menu-profile .menu-profile-pic {
    width: 100%;
    align-self: center;
    height: unset;
    aspect-ratio: 1/1;
  }
  .main-menu-wrap .main-menu .menu-list {
    padding: 10px;
    height: 40%;
    min-height: unset;
    max-height: unset;
  }
  .main-menu-wrap .main-menu .menu-list h6 {
    font-weight: 400;
  }
  .chapters {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  .chapters li {
    border-top: 1px solid var(--main-color);
    font-size: 2.286rem;
    letter-spacing: -1px;
  }
  .chapters li span {
    font-size: 1.286rem;
    position: absolute;
    padding: 10px;
  }
  .main-menu-wrap .project-menu {
    flex: 1;
    height: unset;
  }
  .main-menu-wrap .project-menu h5 {
    margin-bottom: 20px;
  }
  .main-menu-wrap .project-menu .project-list li a {
    grid-template-columns: auto 1fr;
  }
  .main-menu-wrap .project-menu .project-list li a .icon {
    width: 20px;
    height: 20px;
  }
  .main-menu-wrap .project-menu .project-list li a i {
    font-size: 0.857rem;
  }
  .main-menu-wrap .project-menu .project-list li a em {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    font-size: 1.286rem;
  }
  .main-menu-wrap .project-menu .project-list li a .thumb {
    display: none;
  }
  /* intro */
  .main-section-wrap .intro {
    grid-template-rows: 30px auto;
  }
  .main-section-wrap .intro .intro-header {
    width: 100%;
  }
  .main-section-wrap .intro .intro-header div {
    padding: 0 5px;
    white-space: nowrap;
  }
  .sub-logo {
    font-size: 0.714rem;
  }
  .sub-logo i {
    font-size: 1rem;
  }
  .main-section-wrap .intro .intro-header .update {
    font-size: 1rem;
  }
  .main-section-wrap .intro .intro-header .update-link span {
    font-size: 1rem;
    margin-right: 10px;
  }
  .main-section-wrap .intro .intro-header .update-link a {
    display: none;
  }
  .main-section-wrap .intro .intro-visual {
    padding: 10px;
    background-attachment: scroll;
  }
  .main-section-wrap .intro .intro-visual span.br {
    display: none;
  }
  .main-section-wrap .intro .intro-visual .catchphrase {
    font-size: 4.286rem;
    line-height: 110%;
  }
  .main-section-wrap .intro .intro-visual .catchphrase-sub {
    font-size: 1.286rem;
  }
  .main-section-wrap .intro .intro-visual .catchphrase-name {
    font-size: 2.286rem;
  }
  .main-section-wrap .intro .intro-visual .catchphrase-name span {
    display: block;
  }
  /* about */
  .main-section-wrap .about {
    display: flex;
    flex-direction: column;
  }
  .main-section-wrap .about > article:not(.profile) {
    height: 500px;
    padding: 20px;
  }
  .main-section-wrap .about .article-title h4 {
    font-size: 1.429rem;
  }
  .main-section-wrap .about .article-title .article-number {
    font-size: 2.286rem;
  }
  .main-section-wrap .about .profile {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 50px 100px 50px;
    gap: 20px;
  }
  .main-section-wrap .about .profile img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 300px;
  }
  .main-section-wrap .about .profile p {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
  }
  .main-section-wrap .about .profile .profile-list {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: center;
  }
  .main-section-wrap .about .profile .article-title {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .main-section-wrap .about .greeting p {
    line-height: 200%;
  }
  /* project */
  .project-wrap {
    display: grid;
    grid-template-columns: 0 0 auto;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  .project-wrap.menuActive {
    grid-template-columns: 0 250px auto;
  }
  .project-wrap .menuToggleInner {
    overflow: hidden;
  }
  .project-wrap .menuToggleInner > * {
    width: calc(100vw - 0px);
  }
  .project-wrap .project-section-wrap .project-slide {
    height: 40px;
  }
  .project-wrap .project-section-wrap .project-slide .slider-track {
    gap: 20px;
  }
  .project-wrap .project-section-wrap .project-slide .slider-track span {
    font-size: 1.429rem;
  }
  .project-wrap .project-section-wrap .project-section-inner > article {
    height: unset;
    min-height: unset;
  }
  /* project-menu */
  .project-menu {
    height: calc(100vh - 30px);
    top: 30px;
    width: 250px;
    padding: 10px;
  }
  .project-menu h5 {
    font-size: 1.429rem;
    text-transform: uppercase;
  }
  .project-menu .project-list {
    overflow-y: scroll;
  }
  .project-menu .project-list li a {
    grid-template-columns: auto 1fr 50px;
    padding: 10px 0;
  }
  .project-menu .project-list li a .thumb {
    width: 50px;
    height: 50px;
  }
  /* project-basic */
  .project-basic {
    display: block;
  }
  .project-basic > div {
    padding: 20px;
  }
  .project-index {
    font-size: 1.429rem;
  }
  .project-basic .project-info {
    gap: 20px;
  }
  .project-basic .project-info .title h2 {
    font-size: 3.143rem;
    letter-spacing: -1px;
  }
  .project-basic .project-info .info-wrap {
    font-size: 1.143rem;
    flex-wrap: wrap;
    gap: 20px;
  }
  .project-links {
    font-size: 1.143rem;
  }
  .project-basic .project-info .swiper-wrap {
    width: calc(100vw - 40px);
  }
  .project-basic .project-info .desc {
    font-size: 1.143rem;
  }
  .project-basic .project-side {
    display: none;
  }
  /* fortune-ball */
  .fortune-ball {
    padding: 10px;
    height: 200px;
  }
  .fortune-ball .fortune-ball-inner .inner-text strong {
    font-weight: 700;
    font-size: 2.714rem;
  }
  .fortune-ball .fortune-ball-inner .popup {
    gap: 5px;
  }
  .fortune-ball .fortune-ball-inner .popup .fortuneball-quote {
    font-size: 1.429rem;
    padding: 0 2px;
  }
  .fortune-ball .fortune-ball-inner .popup .fortuneball-quote:last-child {
    font-size: 1rem;
  }
  /* epilogue */
  .epilogue {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 200px;
    background-attachment: scroll;
  }
  .epilogue::before, .epilogue::after {
    bottom: 0;
    white-space: wrap;
    font-size: 80px;
    line-height: 80%;
  }
  .epilogue .epilogue-inner {
    display: grid;
    height: -moz-max-content;
    height: max-content;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 20px;
  }
  .epilogue .epilogue-inner .banner {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .epilogue .epilogue-inner .banner .sub-logo {
    font-size: 0.714rem;
  }
  .epilogue .epilogue-inner .banner .quote p {
    font-size: 1.429rem;
  }
  .epilogue .epilogue-inner .closing-ment {
    padding: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    gap: 20px;
  }
  .epilogue .epilogue-inner .closing-ment p {
    font-size: 1.286rem;
  }
  .epilogue .epilogue-inner .closing-ment > div,
  .epilogue .epilogue-inner .closing-ment > button {
    font-size: 1.429rem;
  }
  .epilogue .epilogue-inner .closing-ment > div i,
  .epilogue .epilogue-inner .closing-ment > button i {
    font-size: 2.286rem;
  }
  .epilogue .epilogue-inner .links {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 90%;
    min-width: 280px;
    justify-self: center;
  }
  .epilogue .epilogue-inner .go-to-top {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
  }
}