.fortune-ball {
  @include border;
  padding: 20px;
  height: 300px;
  .fortune-ball-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--middle-color);
    @include border;
    .inner-text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $primary-en;
      strong {
        font-weight: 700;
        font-size: $font-heading-medium;
      }
      i {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    #container {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .popup {
      position: absolute;
      pointer-events: none;
      animation: fadeOut 2s forwards;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        99% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .fortuneball-quote {
        margin: 0;
        font-size: $font-h4;
        font-family: $primary-en;
        color: var(--main-color);
        background-color: var(--base-color);
        border: 1px solid var(--main-color);
        padding: 0 10px;
        &:last-child {
          font-family: $secondary-kr;
          font-size: $font-m;
          padding: 5px;
        }
      }
    }
  }
}
