.swiper{
  cursor: grab;
}
.swiper-pagination-bullet {
  transition: 0.3s;
  opacity: 0.8;
  background: var(--hover-color);
}
.swiper-pagination-bullet-active {
  opacity: 0.8;
  background: var(--main-color);
  width: 20px;
  border-radius: 10px;
}
